.header {
     background: black url('../images/backg.png') no-repeat center
     center;
     background-size: cover;
     background-attachment: fixed;
     min-height: 100vh;
}

#projectsection {
    min-height: 100vh;
}

@media(max-width: 767px) {
    #about {
        flex-direction: column;
    }
}


@media(max-width: 767px) {
    #about {
        flex-direction: column;
    }
}

.filler {
    width:100%;
    height:50px;
}
